@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sitema Woto</h1>
    <div>Segue indicações de pesquisa e estudo entity framework</div>
    <ul>
        <li>
            <a href="https://www.torneseumprogramador.com.br/busca?q=entity" target="_blank">
                 Video aula torneseumprogramador
            </a>
        </li>
        <li>
            <a href="https://www.learnentityframeworkcore.com/" target="_blank">
                 Documentação entity framework
            </a>
        </li>
    </ul>
</div>
